/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 *= require rails_bootstrap_forms
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@font-face {
  font-family: 'Rounded-Elegance';
  src: font-url('Rounded_Elegance.ttf');
  src: font-url('Rounded_Elegance.ttf?iefix') format('truetype');
}

/*Crossfader Blog Color Scheme*/
$black: #000000;
$lust: #EA161D;
$white: #ffffff;
$malibu: #62BFE4;
$cloud: #C7C3C0;
/*------------------------*/

img {
	max-width: 100%;
	height: auto;
}

body {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
	background: image-url("cf_blog_home.jpg") no-repeat top center fixed;
  background-color: $cloud;
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }

  .username-styling {
    text-transform: uppercase;
    font-family: "Rounded-Elegance";
    color: $white;
  }

  p,
  .form-field {
    font-family: 'Roboto', sans-serif;
  }

 .form-title {
   padding-top: 20px;
   text-transform: uppercase;
   font-family: "Rounded-Elegance";
   color: $white;
 }

 .check-box,
 .password-confirm {
   font-family: 'Roboto', sans-serif;
   color: $white;
 }


.round-image-50 {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.img-circle {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.share-links {
  padding-top: 5px;
  padding-bottom: 10px;
}

/*Post Show Styling*/
.post-body {
  font-family: 'Roboto', sans-serif;
  color: $white;
}

.post-title {
  text-transform: uppercase;
  font-family: "Rounded-Elegance";
  color: $white;
}

.post-date {
  font-family: 'Roboto', sans-serif;
  color: $white;
}


/*----------------*/

/*Homepage Styling*/
.post-index {

}

.post-title-index {
  text-transform: uppercase;
  font-family: "Rounded-Elegance";
  text-decoration: underline;
  text-decoration-color: $malibu;
  color: $lust;
}

.post-title-index:hover,
.post-title-index:focus,
.post-title-index:active,
.post-title-index.active {
  color: $white;
  text-decoration: none;
}

.post-body-index {
  padding: 20px;
  color: $white;
}

.post-date-index {
color: $malibu;
}

.post-separator {

}
/*----------------*/

.upload-button {
  color: $white;
}

/*Overall Page Styling*/
.logo-heading {
padding-top: 100px;
}

.panel-default {
  background-color: rgba($white, 0.8);
}

.panel-borderless {
  background-color: rgba($black, 0.8);
}

.panel-backgroundless {
  background-color: rgba($black, 0.0);
}

.footer-font {
  font-family: "Roboto";
  color:$white;
}

.footer-icons {
  color: $malibu;
}
.footer-icons:hover,
.footer-icons:focus,
.footer-icons:active,
.footer-icons.active {
  color: $lust;
}

.button {
  font-family: "Rounded-Elegance";
  padding-bottom: 10px;
}

.links {
  color: $malibu;
  font-family: "Roboto";
}

.links:hover,
.links:focus,
.links:active,
.links.active {
  color: $white
}

.post-errors {
  color: $white;
  font-family: "Roboto";
}

.error-bullets {
  padding: 0;
  list-style-type: none;
}
.error-messages {
  color: $lust;
}

/*-----------------*/

/*Header Styling*/
.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
}
.navbar-custom {
  margin-bottom: 0;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-family: "Rounded-Elegance";

  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: $white;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: none;
    }
  }

  a {
    color: $white;
  }

  .nav {
    li {
      a {
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;

        &:hover {
          color: rgba($white, 0.8);
          outline: none;
          background-color: transparent;
        }

        &:active,
        &:focus {
          outline: none;
          background-color: transparent;
        }
      }

      &.active {
        outline: none;

        a {
          background-color: rgba(white, 0.3);

          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

/*-------------*/

/*Bootstrap Pagination*/
.pagination {
  text-transform: uppercase;
  font-family: "Rounded-Elegance";
}

.pagination > li:first-child > span, .pagination > li:first-child > a {
    border-bottom-left-radius: 0px  !important;
    border-top-left-radius: 0px !important;
    }

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    }

  .pagination > .active > span {
    z-index: 5;
    color: $malibu;
    background-color: $black;
    border-color: $lust;
    cursor: pointer;
  }

  .pagination > .active > span:hover {
  background-color: $white;
  border-color: $lust;
  color: $malibu;
  }

.pagination > li > a:hover, .pagination > li > span:hover {
 background-color: $white;
 border-color: $lust;
 color: $malibu;
}

.pagination > li > a,
.pagination > li > span {


    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: $malibu;
    background-color: $black;
    border-color: $lust;
    margin-left: 4px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus

{
    color: $malibu;
    background-color: $black;
    border-color: $lust;
    cursor: not-allowed;
}
/*------------*/

/*Bootstrap Button*/
.btn-cfb {
  color: $malibu;
  text-transform: uppercase;
  background-color: rgba($black, 0.2);
  border-color: $lust;
}

.btn-cfb:hover,
.btn-cfb:focus,
.btn-cfb:active,
.btn-cfb.active,
.open .dropdown-toggle.btn-cfb {
  color: $malibu;
  background-color: $white;
  border-color: $lust;
}

.btn-cfb:active,
.btn-cfb.active,
.open .dropdown-toggle.btn-cfb {
  background-image: none;
}

.btn-cfb.disabled,
.btn-cfb[disabled],
fieldset[disabled] .btn-cfb,
.btn-cfb.disabled:hover,
.btn-cfb[disabled]:hover,
fieldset[disabled] .btn-cfb:hover,
.btn-cfb.disabled:focus,
.btn-cfb[disabled]:focus,
fieldset[disabled] .btn-cfb:focus,
.btn-cfb.disabled:active,
.btn-cfb[disabled]:active,
fieldset[disabled] .btn-cfb:active,
.btn-cfb.disabled.active,
.btn-cfb[disabled].active,
fieldset[disabled] .btn-cfb.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: $lust;
}

.btn-cfb .badge {
  color: rgba($black, 0.2);
  background-color: $malibu;
}
/*----------------*/


/*-------------------------------------------------*/
/* RESPONSIVE CSS
-------------------------------------------------- */
/* Small devices (phones) */
@media (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {

}
@media (min-width: 300px) and (max-width: 667px) and (orientation: landscape) {

}

/* Small devices (larger phones) */
@media (min-width: 400px) and (max-width: 415px) and (orientation: portrait) {

}
@media (min-width: 668px) and (max-width: 767px) and (orientation: landscape) {

}

/* ---------------------------------------------------- */
/* Medium devices (tablets, 768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* ---------------------------------------------------- */
/* Large devices (Laptops (and large resolution tablets), 1025px to 1439px) */
@media (min-width: 1025px) and (max-width: 1439px) and (orientation: portrait) {

}
@media (min-width: 1025px) and (max-width: 1439px) and (orientation: landscape) {

}

/* ---------------------------------------------------- */
/* Large devices (Computers, 1440px to 1979px) */
@media (min-width: 1440px) and (max-width: 1979px) and (orientation: landscape) {

}

/* ---------------------------------------------------- */
/* Extra Large devices (Computers, 1980px and up) */
@media (min-width: 1980px) and (max-width: 3840px) and (orientation: landscape) {

}
/* ---------------------------------------------------- */
