<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-borderless">

      <h2 class="form-title">Hello
        <%= @resource.email %>!</h2>
      <br>
      <p>We're contacting you to notify you that your password has been changed.</p>

    </div>
  </div>
</div>
