<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="https://itunes.apple.com/us/app/crossfader/id628517073" target="_blank"><%= image_tag("appStorePic.png", alt: "png-img", height: 80, width: 160) %></a>
      <br>
      <div class="footer-font">
      Copyright &copy; 2017
    </div>
      <br>
    </span>
  </div>
</footer>
