<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <div class="app-store-pic">
        <a href="https://itunes.apple.com/us/app/crossfader/id628517073" target="_blank"><%= image_tag("appStorePic.png", alt: "png-img", height: 80, width: 160) %></a>
        <br>
      </div>

      <a class="footer-icons" href="https://www.facebook.com/crossfaderapp/" target="_blank">
        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
      </a>
      <a class="footer-icons" href="https://twitter.com/crossfaderapp?lang=en" target="_blank">
        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
      </a>
      <a class="footer-icons" href="https://www.instagram.com/crossfaderapp/" target="_blank">
        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
      </a>

      <div class="footer-font">
        Copyright &copy; 2017
      </div>
      <br>
    </span>
  </div>
</footer>
